header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 20px;
}

.logo {
    font-family: Aldrich;
    color:black;
    font-style: bold;
    font-size: 22px;
}

nav {
    display: flex;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 28px;
    margin-left: 20px;
}

nav ul li a {
    float: right;
    margin-right: 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu-icon {
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    margin-left: auto;
    padding-right: 10px;
}

@media (max-width: 550px) {
    .menu {
        display: none; 
        flex-direction: column;
        background: rgb(252, 249, 249);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 100px;
        padding: 10px;
        border-radius: 5px;
    }

    .menu.active {
        display: flex; 
    }

    .menu-icon {
        display: block; 
    }
}

@media (min-width: 550px) {
    .menu-icon {
        display: none;
        font-weight: bold;
    }
}